server:
  port: 8084

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:h2:mem:orderdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-service-group
      auto-offset-reset: latest
      enable-auto-commit: false # Manual Ack
    listener:
      ack-mode: MANUAL_IMMEDIATE
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: event:com.example.order.dto.OrderEvent,result:com.example.order.dto.ProcessedOrderEvent

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

app:
  timeouts:
    payment: 2000
    inventory: 2000
    shipment: 2000

services:
  payment:
    url: http://localhost:8081/payments/{orderId}/status
  inventory:
    url: http://localhost:8082/api/v1/orders/{orderId}/invoice-items
  shipment:
    url: http://localhost:8083/api/v1/ship-ready-invoice-items
